@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?etrhvb');
    src: url('../fonts/icomoon.eot?etrhvb#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?etrhvb') format('truetype'),
        url('../fonts/icomoon.woff?etrhvb') format('woff'),
        url('../fonts/icomoon.svg?etrhvb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

.icon {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    display: inline-block;
    &_heart:before {
        content: "\e901";
        color: #2979ff;
    }
    &_babysitter:before {
        content: "\e902";
        color: #9696a0;
    }
    &_barley:before {
        content: "\e903";
        color: #9696a0;
    }
    &_cinema:before {
        content: "\e904";
        color: #9696a0;
    }
    &_concert:before {
        content: "\e905";
        color: #9696a0;
    }
    &_fitness:before {
        content: "\e906";
        color: #9696a0;
    }
    &_hanger:before {
        content: "\e907";
        color: #9696a0;
    }
    &_nuclear-station:before {
        content: "\e908";
        color: #9696a0;
    }
    &_observation:before {
        content: "\e909";
        color: #9696a0;
    }
    &_pets:before {
        content: "\e90a";
        color: #9696a0;
    }
    &_powerstation:before {
        content: "\e90b";
        color: #9696a0;
    }
    &_restaraunt:before {
        content: "\e90c";
        color: #9696a0;
    }
    &_ship-wheel:before {
        content: "\e90d";
        color: #9696a0;
    }
    &_close:before {
        content: "\e900";
        color: #2979FF;
    }
    &_search:before {
        content: "\e986";
        color: #787885;
    }
    &_view-grid:before {
        content: "\e90e";
        color: #2979ff;
    }
    &_view-list:before {
        content: "\e90f";
        color: #787885;
    }
    &_filter-variant:before {
        content: "\e910";
        color: #2264d1;
    }
}

.wrap {
    max-width: 1493px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-family: 'Red Hat Display';
    font-style: normal;
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    margin-right: 36px;
    &__letter {
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        color: #FFFFFF;
        background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
        border-radius: 6px;
        width: 40px;
        height: 40px;
        text-align: center;
    }
    &__name {
        font-weight: 500;
        font-size: 36px;
        line-height: 36px;
        color: #0C2146;
    }
}

.header {
    font-family: 'Inter';
    font-style: normal;
    padding-top: 16px;
    padding-left: 16px;
    margin-bottom: 48px;
    & .wrap {
        max-width: 1920px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 33px;
        margin-right: 107px;
    }
    &__link {
        font-weight: 400;
        font-size: 20px;
        line-height: 158%;
        letter-spacing: 0.0075em;
        color: #5A5B6A;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__search-box {
        display: flex;
        align-items: center;
        gap: 12px;
        max-width: 668px;
        width: 100%;
        background: #EDEDF0;
        border-radius: 99px;
        margin-right: 30px;
        padding: 8px 17px 8px 15px;
    }
    &__submit {
        background: url(../img/search.png) no-repeat center;
        width: 18px;
        height: 18px;
        align-self: center;
        padding-top: 7px;
        padding-bottom: 7px;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__search {
        width: 100%;
        background: #EDEDF0;
        font-weight: 400;
        font-size: 20px;
        line-height: 158%;
        letter-spacing: 0.0075em;
        color: #19191D;
    }
    &__category {
        font-weight: 400;
        font-size: 20px;
        line-height: 158%;
        letter-spacing: 0.0075em;
        color: #2264D1;
        margin-right: 123px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__registration-row {
        display: flex;
        gap: 18px;
    }
    &__pic {
        width: 40px;
        height: 40px;
    }
}

.btn-link {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #2264D1;
    text-decoration: none;
    border: 1px solid #9DC2FF;
    border-radius: 4px;
    padding: 8px 12px;
    display: inline-block;
    &.is-cart {
        padding: 6px 12px;
        box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
        position: relative;
        border: none;
    }
    &__calc {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #F44336;
        border-radius: 99px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        top: -3px;
        right: -3px;
    }
    &_departments {
        font-size: 24px;
        padding: 8px 20px 8px 12px;
        max-width: 304px;
        width: 100%;
        display: inline-flex;
        gap: 8px;
        align-items: center;
    }
    &__text {
        margin: 0 auto;
    }
}

.categories {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__link {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        &:active,:hover {
            color: #2979FF;
        }
        & .icon_hanger:hover:before{
            color: #2979FF;
        }
    }
    &__name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.018em;
        color: #787885;
    }
}

.container .wrap {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.filter {
    max-width: 355px;
    width: 100%;
    padding: 24px 51px 0 0;
}

.section {
    max-width: 1114px;
    width: 100%;
}

.content {
    padding: 16px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    &__select-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__select {
        padding: 6px 12px;
        border: 1px solid #B4B4BB;
        border-radius: 4px;
    }
    &__filter-list {
        display: flex;
        flex-wrap: wrap;
        border-radius: 4px;
    }
    &__view-list {
        display: flex;
        flex-wrap: wrap;
        border-radius: 4px;
    }
    &__related {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    &__related-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
    }
    &__related-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.018em;
        color: #19191D;
    }
}

.btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #5A5B6A;
    background: #EBF2FF;
    &:hover,
    &:focus,
    &:active {
        color: #2264D1;
        background: #FFFFFF;
        box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24), 0px 2px 4px rgba(41, 121, 255, 0.24);
        border-radius: 4px;
        cursor: pointer;
    }
    &_filter {
        padding: 8px 14px;
    }
    &_view {
        padding: 11px 25px;
    } 
}
.btn-related {
    padding: 6px 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #4A4B57;
    background: #EDEDF0;
    border-radius: 99px;
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        cursor: pointer;
    }
}